@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This an example app to start a simple reimbursement <strong>Camunda BPM process</strong></p>
    <div class="container-fluid mt-3">
        <div class="row">
            <div class="col-12 align-items-center">
                <a asp-action="Index" asp-controller="Camunda" class="btn btn-primary">Go to workflow</a>
            </div>
        </div>
    </div>
</div>
